test-unit-dbunit/src/test/resources/datasets/testes.dtd

<!ELEMENT dataset (
   (CONSTANTS|
    ENUM_VALUES|
    INDEXES|
    INDEX_COLUMNS|
    INFORMATION_SCHEMA_CATALOG_NAME|
    IN_DOUBT|
    LOCKS|
    QUERY_STATISTICS|
    RIGHTS|
    ROLES|
    SESSIONS|
    SESSION_STATE|
    SETTINGS|
    SYNONYMS|
    USERS|
    ENTIDADE)*)>

<!ELEMENT CONSTANTS EMPTY>
<!ATTLIST CONSTANTS
    CONSTANT_CATALOG CDATA #IMPLIED
    CONSTANT_SCHEMA CDATA #IMPLIED
    CONSTANT_NAME CDATA #IMPLIED
    VALUE_DEFINITION CDATA #IMPLIED
    DATA_TYPE CDATA #IMPLIED
    CHARACTER_MAXIMUM_LENGTH CDATA #IMPLIED
    CHARACTER_OCTET_LENGTH CDATA #IMPLIED
    CHARACTER_SET_CATALOG CDATA #IMPLIED
    CHARACTER_SET_SCHEMA CDATA #IMPLIED
    CHARACTER_SET_NAME CDATA #IMPLIED
    COLLATION_CATALOG CDATA #IMPLIED
    COLLATION_SCHEMA CDATA #IMPLIED
    COLLATION_NAME CDATA #IMPLIED
    NUMERIC_PRECISION CDATA #IMPLIED
    NUMERIC_PRECISION_RADIX CDATA #IMPLIED
    NUMERIC_SCALE CDATA #IMPLIED
    DATETIME_PRECISION CDATA #IMPLIED
    INTERVAL_TYPE CDATA #IMPLIED
    INTERVAL_PRECISION CDATA #IMPLIED
    MAXIMUM_CARDINALITY CDATA #IMPLIED
    DTD_IDENTIFIER CDATA #IMPLIED
    DECLARED_DATA_TYPE CDATA #IMPLIED
    DECLARED_NUMERIC_PRECISION CDATA #IMPLIED
    DECLARED_NUMERIC_SCALE CDATA #IMPLIED
    GEOMETRY_TYPE CDATA #IMPLIED
    GEOMETRY_SRID CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT ENUM_VALUES EMPTY>
<!ATTLIST ENUM_VALUES
    OBJECT_CATALOG CDATA #IMPLIED
    OBJECT_SCHEMA CDATA #IMPLIED
    OBJECT_NAME CDATA #IMPLIED
    OBJECT_TYPE CDATA #IMPLIED
    ENUM_IDENTIFIER CDATA #IMPLIED
    VALUE_NAME CDATA #IMPLIED
    VALUE_ORDINAL CDATA #IMPLIED
>

<!ELEMENT INDEXES EMPTY>
<!ATTLIST INDEXES
    INDEX_CATALOG CDATA #IMPLIED
    INDEX_SCHEMA CDATA #IMPLIED
    INDEX_NAME CDATA #IMPLIED
    TABLE_CATALOG CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    INDEX_TYPE_NAME CDATA #IMPLIED
    IS_GENERATED CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
    INDEX_CLASS CDATA #IMPLIED
>

<!ELEMENT INDEX_COLUMNS EMPTY>
<!ATTLIST INDEX_COLUMNS
    INDEX_CATALOG CDATA #IMPLIED
    INDEX_SCHEMA CDATA #IMPLIED
    INDEX_NAME CDATA #IMPLIED
    TABLE_CATALOG CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    COLUMN_NAME CDATA #IMPLIED
    ORDINAL_POSITION CDATA #IMPLIED
    ORDERING_SPECIFICATION CDATA #IMPLIED
    NULL_ORDERING CDATA #IMPLIED
    IS_UNIQUE CDATA #IMPLIED
>

<!ELEMENT INFORMATION_SCHEMA_CATALOG_NAME EMPTY>
<!ATTLIST INFORMATION_SCHEMA_CATALOG_NAME
    CATALOG_NAME CDATA #IMPLIED
>

<!ELEMENT IN_DOUBT EMPTY>
<!ATTLIST IN_DOUBT
    TRANSACTION_NAME CDATA #IMPLIED
    TRANSACTION_STATE CDATA #IMPLIED
>

<!ELEMENT LOCKS EMPTY>
<!ATTLIST LOCKS
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
    SESSION_ID CDATA #IMPLIED
    LOCK_TYPE CDATA #IMPLIED
>

<!ELEMENT QUERY_STATISTICS EMPTY>
<!ATTLIST QUERY_STATISTICS
    SQL_STATEMENT CDATA #IMPLIED
    EXECUTION_COUNT CDATA #IMPLIED
    MIN_EXECUTION_TIME CDATA #IMPLIED
    MAX_EXECUTION_TIME CDATA #IMPLIED
    CUMULATIVE_EXECUTION_TIME CDATA #IMPLIED
    AVERAGE_EXECUTION_TIME CDATA #IMPLIED
    STD_DEV_EXECUTION_TIME CDATA #IMPLIED
    MIN_ROW_COUNT CDATA #IMPLIED
    MAX_ROW_COUNT CDATA #IMPLIED
    CUMULATIVE_ROW_COUNT CDATA #IMPLIED
    AVERAGE_ROW_COUNT CDATA #IMPLIED
    STD_DEV_ROW_COUNT CDATA #IMPLIED
>

<!ELEMENT RIGHTS EMPTY>
<!ATTLIST RIGHTS
    GRANTEE CDATA #IMPLIED
    GRANTEETYPE CDATA #IMPLIED
    GRANTEDROLE CDATA #IMPLIED
    RIGHTS CDATA #IMPLIED
    TABLE_SCHEMA CDATA #IMPLIED
    TABLE_NAME CDATA #IMPLIED
>

<!ELEMENT ROLES EMPTY>
<!ATTLIST ROLES
    ROLE_NAME CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT SESSIONS EMPTY>
<!ATTLIST SESSIONS
    SESSION_ID CDATA #IMPLIED
    USER_NAME CDATA #IMPLIED
    SERVER CDATA #IMPLIED
    CLIENT_ADDR CDATA #IMPLIED
    CLIENT_INFO CDATA #IMPLIED
    ISOLATION_LEVEL CDATA #IMPLIED
    EXECUTING_STATEMENT CDATA #IMPLIED
    CONTAINS_UNCOMMITTED CDATA #IMPLIED
    SESSION_STATE CDATA #IMPLIED
    BLOCKER_ID CDATA #IMPLIED
>

<!ELEMENT SESSION_STATE EMPTY>
<!ATTLIST SESSION_STATE
    STATE_KEY CDATA #IMPLIED
    STATE_COMMAND CDATA #IMPLIED
>

<!ELEMENT SETTINGS EMPTY>
<!ATTLIST SETTINGS
    SETTING_NAME CDATA #IMPLIED
    SETTING_VALUE CDATA #IMPLIED
>

<!ELEMENT SYNONYMS EMPTY>
<!ATTLIST SYNONYMS
    SYNONYM_CATALOG CDATA #IMPLIED
    SYNONYM_SCHEMA CDATA #IMPLIED
    SYNONYM_NAME CDATA #IMPLIED
    SYNONYM_FOR CDATA #IMPLIED
    SYNONYM_FOR_SCHEMA CDATA #IMPLIED
    TYPE_NAME CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    USER_NAME CDATA #IMPLIED
    IS_ADMIN CDATA #IMPLIED
    REMARKS CDATA #IMPLIED
>

<!ELEMENT ENTIDADE EMPTY>
<!ATTLIST ENTIDADE
    ID CDATA #REQUIRED
>

